name: Flutter CI/CD
on:
  push:
    branches: [oneness]
jobs:
  build:
    runs-on: windows
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "stable"
      - run: flutter pub get
      - run: flutter test
      - run: flutter build apk --release
